{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Styles block -->
{% block styles %}

{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <!-- displaying name-->
        <div class="col-md-4">
            <h1 class="proftitle"> Writer Profile </h1>
           
            <!--displaying photo-->
            <div class="col-md-4">
                <div class="profilepic">
                    <img src="{{url_for('static',filename='prof.gif')}}" alt="myprofilepic" class="img-thumbnail imgsize">
                </div>
                <h3 class="name"> <b>{{writer.name| capitalize}}</b></h3>
                <p class="email"> {{writer.email}} </p>
            </div>
        </div>

        <div class="col-md-7">
            <!--display blog creation-->

            <h1 class="blogtitle"> Enter your blog </h1>
         
            {{ wtf.quick_form(blog_form) }}
        </div>

    </div>
</div>

{% endblock %}